<template name="appBody">

  <div id="container" class="{{menuOpen}} {{overlayOpen}}">
    <section id="menu" class="overthrow">
      <!-- <a href="{{pathFor 'home'}}" class="{{activePage 'home'}}">
        <span class="wrapper-menu-item">
          <span class="icon-home"></span>
          <span class="title-menu">Home</span>
        </span>
      </a> -->
      <a href="#" class="{{activePage 'bookmarks'}}">

        <div id="menu-bg-color">
          <div id="menu-bg-image"></div>
        </div>

        <span class="wrapper-menu-item">
          {{> listings}}
        </span>
      </a>
    </section>

    {{> overlay}}

    <div class="content-overlay"></div>

    <div id="content-container">
      {{> yield}}
    </div>

  </div>
</template>