<template name="login">

  <form class="login-form">

    <div id="login-email-and-label">
      <input id="login-email" type="email" placeholder="Email Address">
    </div>

    <div id="login-password-and-label">
      <input id="login-password" type="password" placeholder="Password">
    </div>

    <button id="login-button">Login</button>
    <p>Or</p>
    <button id="signup-button">Sign Up as new user</button>

    <p>Or</p>
    <div id="facebook-login-form">
      <button id="facebook-login-button">Login with facebook</button>
    </div>
      
  </form>
</template>