<template name="login">
  

  <div class="login-page">
    <div class="login-title">
      <p>scotch</p>
    </div>

<!--     <div id="menu-bg-color">
      <div id="menu-bg-image"></div>
    </div> -->

    <form class="login-form">
      <div>
        <input class="login-input login-email" type="email" placeholder="Username/Email">
      </div>

      <div>
        <input class="login-input login-password" type="password" placeholder="Password">
      </div>

      <button class="login-button">SIGN IN</button>

      <button class="signup-button">SIGN UP</button>
      <p>or</p>
      <button class="facebook-login-button">Login with facebook</button>

    </form>
  </div>


</template>