<template name="signup">
  <form class="login-form">

    <div>
      <input id="signup-username" class="login-input" type="text" placeholder="Username">
    </div>

    <div>
      <input id="signup-email" class="login-input" type="email" placeholder="Email">
    </div>

    <div>
      <input id="signup-password" class="login-input" type="password" placeholder="Password">
    </div>

    <button class="signup-button">SIGN UP</button>

    <button class="signup-back-button">GO BACK</button>

  </form>
</template>